beautifulsoup4==4.11.1
certifi==2023.11.17
charset-normalizer==2.0.12
click==8.0.4
Cython==0.29.32
docopt==0.6.2
idna==3.4
joblib==1.1.1
nltk==3.6.7
num2words==0.5.12
oauthlib==3.2.2
pid==3.0.4
regex==2023.6.3
requests==2.31.0
requests-toolbelt==1.0.0
soupsieve==2.3.2.post1
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.18
